.container {
    width: 700px;
    margin: auto;
    text-align: center;
}

button {
    margin: auto;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    display: block;
}

#myDIV {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 80px;
    background: #00FF66;
    margin-bottom: 30px;
    display: inline-block;
}